main{
   width: 100vw;
   height: 100vh;
   background-color: var(--neutral-1);
   display: flex;
   justify-content: center;
   align-items: center;
}

@keyframes slidein {
   from {
      transform: translate3d(50vw, 0, 0);
   }
   to {
      transform: translate3d(0, 0, 0);
   }
}
@keyframes open {
   from {
      transform: scale(0.5);
   }
   to{
      transform: scale(1);
   }
}
main div.container2 {
   animation: slidein .3s;
}
main div.container3{
   animation: open .5s;
}

.container{
   max-width: 425px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 60px;
}
.container .user{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}
.container .img{
   width: 120px;
   height: 120px;
   background-image: url("https://studiosol-a.akamaihd.net/uploadfile/letras/fotos/f/3/5/2/f352b0854c086944629262f2d048416f.jpg");
   background-size: cover;
   background-position: center;
   border-radius: 50%;
}

.container1 .user #userCpf{
   display: flex;
   align-items: center;
   gap: 10px;
}
.container1 .user small{
   color: var(--neutral-5);
}
.container1 .btns{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}
.container1 .btns a{
   width: 280px;
}
.container1 .btns button{
   width: 100%;
   border: none;
   padding: 10px;
   cursor: pointer;
   border-radius: 20px;
   font-weight: 600;
}
.container1 .btns .login{
   background-color: var(--primary-3);
   color: var(--neutral-1);
}
.container1 .btns .sign{
   background-color: transparent;
   color: var(--primary-3);
   border: 2px solid var(--primary-3);
}

.container2{
   gap: 100px;
}
.container2 .user{
   gap: 20px;
}
.container2 #password{
   outline: none;
   border: 2px solid var(--primary-3);
   border-radius: 20px;
   padding: 5px 10px;
}
.container2 .btns{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}
.container2 .btns a.ok{
   width: 280px;
}
.container2 .btns .ok button{
   width: 100%;
   border: none;
   padding: 10px;
   cursor: pointer;
   border-radius: 20px;
   font-weight: 600;
   background-color: var(--primary-3);
   color: var(--neutral-1);
}
.container2 a.forgot{
   color: var(--primary-4);
   border-bottom: 1px solid var(--primary-4);
}

.container3{
   width: 75%;
   justify-content: center;
}
.container3 h3{
   font-weight: 400;
   text-align: center;
}
.container3 img{
   width: 240px;
}
.container3 p{
   text-align: center;
}
.container3 button{
   width: 280px;
   padding: 10px 0;
   border-radius: 20px;
   border: none;
   background-color: var(--primary-3);
   color: var(--neutral-1);
   cursor: pointer;
}